body{
	background:#000000;
}

#level0 {
  	margin-right:10px;
  	margin-left:10px;
	padding-bottom:10px;
    background:#e3e8e3;
	text-align: center;
	height: 100%;
}

#level1{
	bottom:0px;
	height:450px;
    background:#e8eff2;
}

#left{
	left: 10px;
	margin-left:10px;
	width:170px;
	height:430px;
	background:#ced7db;
	text-align: right;
	font-size: 10pt;
	font-family: "helvetica", "sans-serif";
	list-style: none;
}

#logo2{
	margin-right:10px;
  	margin-left:10px;
	margin-top:0px;
	margin-bottom:0px;
	height:105px;
}

#menus1{	
	margin-right:10px;
  	margin-left:10px;
  	margin-top:0px;
  	margin-bottom:10px;
	background:#e3e8e3;
	text-align: left;
	text-overflow: ellipsis;
	list-style: none;
}

#menus1 li {
	display:block

}

#menus1 li a {
	text-decoration:none;
	padding:5px 0;
	margin-right:10px;
	margin-left:10px;
	width:130px;
	background:#485e49;
	color:#eeeeee;
	font-weight:Bold;
	font-style:italic;
}

#menus1 li a {
	text-align:center;
}

#menus1 li a:hover {
	background:#a2b3a1;
	color:#000
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
}

ul li {
	position: relative;
}

li ul {
	position: absolute;
	left: 149px;
	top: 0;
	display: none;
	Font-size:12px;
	background: #fff000;
}

ul li a {
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff000;
	padding: 5px;
}

li:hover ul { 
	display: block; 
}

li:hover ul, li.hover ul { 
	display: block; 
}

#center{	
	position: absolute;
	left:250px;
	right:380px;
	top:139px;
	font-size: 10pt;
	font-family: "helvetica", "sans-serif";
	text-align: right;
}

#rooms {
	height:430px;
	margin-left: 30px;
	overflow: scroll;
	text-align: left;
	background:#ced7db;
}

#rooms img {
	width:100px;
	height:85px;
}

#right{
	position : absolute;
	overflow: scroll;
	left:990px;
	right:30px;
	top:139px;
	height: 410px;
	padding:10px;
	font-size: 10pt;
	font-family: "helvetica", "sans-serif";
	text-align: left;
	background:#ced7db;
}

footer{
  	margin-right:10px;
  	margin-left:10px;  
  	margin-bottom:0px;
    padding:0;
    font-size: 10pt;
	font-family: "helvetica", "sans-serif";
	text-align: center;
}