<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
      	<H3> Sample Andriod applications </H3>
          » <a href="https://github.com/Abd-K/andriod-apps/tree/master/Minesweeper_v2/Minesweeper"> Minesweeper game</a> <br><br><br>

        <H3> Sample Web projects </H3>
          » <a href="Atrix_magician/index.html"> Atrix Magician</a> <br>
          » <a href="hotel/index.html">Glocester Place Hotel</a><br>
          » <a href="https://github.com/Abd-K/Abd-K.github.io/tree/master/shopping_cart_express_chicken"> Shopping Cart - Express Chicken (PHP) </a><br><br><br>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
