<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <li><a href="Atrix_magician/index.html"> Atrix Magician</a></li> <br>
        <li><a href="hotel/index.html">Glocester Place Hotel</a> </li><br>
        <li><a href="https://github.com/Abd-K/Abd-K.github.io/tree/master/shopping_cart_express_chicken"> Express Chicken (PHP website not hosted) </a> </li> <br>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
