<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <H2> Sample projects i have implemented </H2>
        <span> > </span> <a href="Atrix_magician/index.html"> Atrix Magician</a> <br>
        <span> > </span> <a href="hotel/index.html">Glocester Place Hotel</a><br>
        <span> > </span> <a href="https://github.com/Abd-K/Abd-K.github.io/tree/master/shopping_cart_express_chicken"> Express Chicken (PHP website not hosted) </a><br>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
